<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>assets/css/theme.css">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>assets/css/form.css">
	<meta charset="utf-8">
	<title>Club de sport de l'IUT de Senart</title>

</head>

<body>
<div class="rapport">
	 Bonjour, nous avons commence le projet il y a environ une semaine. <br>
		Donc cela fait une semaine que nous travaillons dessus. 
	<br>
		Repartir les taches entre nous etait tres facile car la communication <br>
		marcher tres bien. On se faisait des recapitulatif presque a chaque minute <br>
		des differents problemes qu'on rencontrait ou bien lorsque l'on avait fini <br>
		une partie. Christopher s'occupait d'abord de la sgbd, Sophie(moi) a commence<br>
		a mettre en place le contenu du site. Puis pour chaque partie (rejoindre equipe <br>
		, creer equipe etc..) nous avons choisi de faire une partie a la fois et on <br>
		s'entraider enormement lorsque l'on n'arrivait pas a faire quelque chose. Ce<br>
		projet etait litteralement un tout pour nous. <br>
</div>

<table>
<tr> <th> notions vues </th> <th> developpe </th>	
<tr> <td> sessions</td> <td> mvc Codeigniter</td> </tr>
<tr> <td> mysqli </td> <td> obtention de lien grace aux controllers</td> </tr>
<tr> <td> php objet </td> <td> </td> </tr>
</table>	
</body>

</html>